.background {
        min-height: 100vh;
        background-size: cover;      /* scales image to cover entire area */
        background-position: center; /* centers the image */
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}